# Part D

Import Pandas and Numpy libraries

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

Cement

Blast Furnace Slag

Fly Ash

Water

Superplasticizer

Coarse Aggregate

Fine Aggregate

Read dataset in Pandas Dataframe

In [2]:
concrete_data = pd.read_csv('C:/Users/ACHAL SHAH/Desktop/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Number of Data Points

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is clean to build a model

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize the data by substracting the mean and dividing by the standard deviation

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

Import Keras and required packages

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

Regression Model

In [15]:
def regression_model():
   
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has three hidden layers each with 10 neurons and ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Import scikit-learn in order to randomly split the data into a training and test sets

In [16]:
from sklearn.model_selection import train_test_split

Splitting 30% data for testing

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [18]:
model = regression_model()

Training model for 50 epochs

In [19]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 1550.4015
Epoch 2/50
 - 0s - loss: 1511.8878
Epoch 3/50
 - 0s - loss: 1454.3750
Epoch 4/50
 - 0s - loss: 1359.4588
Epoch 5/50
 - 0s - loss: 1212.1144
Epoch 6/50
 - 0s - loss: 1012.8844
Epoch 7/50
 - 0s - loss: 771.9414
Epoch 8/50
 - 0s - loss: 539.6321
Epoch 9/50
 - 0s - loss: 364.8806
Epoch 10/50
 - 0s - loss: 281.9218
Epoch 11/50
 - 0s - loss: 250.7403
Epoch 12/50
 - 0s - loss: 236.4013
Epoch 13/50
 - 0s - loss: 225.3295
Epoch 14/50
 - 0s - loss: 218.1204
Epoch 15/50
 - 0s - loss: 211.2095
Epoch 16/50
 - 0s - loss: 205.8937
Epoch 17/50
 - 0s - loss: 200.3880
Epoch 18/50
 - 0s - loss: 195.6756
Epoch 19/50
 - 0s - loss: 191.9127
Epoch 20/50
 - 0s - loss: 187.6557
Epoch 21/50
 - 0s - loss: 184.0733
Epoch 22/50
 - 0s - loss: 180.6529
Epoch 23/50
 - 0s - loss: 177.4991
Epoch 24/50
 - 0s - loss: 174.3646
Epoch 25/50
 - 0s - loss: 171.7425
Epoch 26/50
 - 0s - loss: 168.9858
Epoch 27/50
 - 0s - loss: 166.4974
Epoch 28/50
 - 0s - loss: 163.9927
Epoch 29/50
 - 0s - loss: 161.8196
Epoch 30/50
 - 0s - loss: 159.1775
Epoch 31/50
 - 0s - loss: 157.0883
Epoch 32/50
 - 0s - loss: 154.9430
Epoch 33/50
 - 0s - loss: 152.3563
Epoch 34/50
 - 0s - loss: 150.3237
Epoch 35/50
 - 0s - loss: 148.5672
Epoch 36/50
 - 0s - loss: 146.0642
Epoch 37/50
 - 0s - loss: 144.7129
Epoch 38/50
 - 0s - loss: 142.4960
Epoch 39/50
 - 0s - loss: 140.7139
Epoch 40/50
 - 0s - loss: 138.8922
Epoch 41/50
 - 0s - loss: 137.4215
Epoch 42/50
 - 0s - loss: 135.4481
Epoch 43/50
 - 0s - loss: 133.9016
Epoch 44/50
 - 0s - loss: 132.0363
Epoch 45/50
 - 0s - loss: 130.6734
Epoch 46/50
 - 0s - loss: 128.8688
Epoch 47/50
 - 0s - loss: 127.7622
Epoch 48/50
 - 0s - loss: 126.9501
Epoch 49/50
 - 0s - loss: 125.9174
Epoch 50/50
 - 0s - loss: 124.4725

Evaluating model on testing set

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 71us/step

125.77265984495095

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

125.77266445105234 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [23]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 60.78614872558989
MSE 2: 42.02472128760082
MSE 3: 32.57804753325132
MSE 4: 34.73773578532691
MSE 5: 32.28257114447436
MSE 6: 32.65232808381609
MSE 7: 38.08348495829067
MSE 8: 29.31040031778774
MSE 9: 29.877586451163182
MSE 10: 24.683365966895636
MSE 11: 26.964830818299724
MSE 12: 25.97139885047493
MSE 13: 28.647945981195445
MSE 14: 30.68031314738746
MSE 15: 27.85190159448914
MSE 16: 19.76589190535561
MSE 17: 23.453068742474304
MSE 18: 23.880033820192406
MSE 19: 22.30680186694494
MSE 20: 27.666496604005882
MSE 21: 22.73287802143776
MSE 22: 22.067689506752977
MSE 23: 22.122449930431774
MSE 24: 21.351883625907035
MSE 25: 24.592940111376322
MSE 26: 24.91782698893624
MSE 27: 21.098014742039553
MSE 28: 23.442838057730963
MSE 29: 23.85093008738891
MSE 30: 24.307478376962607
MSE 31: 22.418027822253773
MSE 32: 19.06945326721784
MSE 33: 20.399538811742296
MSE 34: 23.89082770363027
MSE 35: 25.023803019600777
MSE 36: 25.67059561967078
MSE 37: 18.50835754184661
MSE 38: 24.184833995732674
MSE 39: 22.602344685773634
MSE 40: 18.653216655200353
MSE 41: 22.06645411272265
MSE 42: 19.656539404662297
MSE 43: 23.72529200211312
MSE 44: 25.228017732935044
MSE 45: 23.684251050733053
MSE 46: 20.866702539635323
MSE 47: 23.03030118973124
MSE 48: 20.07436777627198
MSE 49: 22.73499941903025
MSE 50: 21.059776571576265


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 25.744753853038613
Standard Deviation: 6.984387702663527