# Part C

Import Pandas and Numpy libraries

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

Cement

Blast Furnace Slag

Fly Ash

Water

Superplasticizer

Coarse Aggregate

Fine Aggregate

Read dataset in Pandas Dataframe

In [2]:
concrete_data = pd.read_csv('C:/Users/ACHAL SHAH/Desktop/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Number of Data Points

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is clean to build a model

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize the data by substracting the mean and dividing by the standard deviation

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

Import Keras and required packages

In [11]:
import keras

Using TensorFlow backend.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

Regression Model

In [13]:
def regression_model():
   
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting 30% data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [16]:
model = regression_model()

Training model for 100 epochs

In [17]:
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/100
 - 0s - loss: 1550.0925
Epoch 2/100
 - 0s - loss: 1532.5856
Epoch 3/100
 - 0s - loss: 1514.3720
Epoch 4/100
 - 0s - loss: 1495.6790
Epoch 5/100
 - 0s - loss: 1476.0115
Epoch 6/100
 - 0s - loss: 1454.8934
Epoch 7/100
 - 0s - loss: 1432.9030
Epoch 8/100
 - 0s - loss: 1409.3799
Epoch 9/100
 - 0s - loss: 1384.3058
Epoch 10/100
 - 0s - loss: 1358.3652
Epoch 11/100
 - 0s - loss: 1330.7111
Epoch 12/100
 - 0s - loss: 1301.1797
Epoch 13/100
 - 0s - loss: 1270.8703
Epoch 14/100
 - 0s - loss: 1238.8624
Epoch 15/100
 - 0s - loss: 1204.9699
Epoch 16/100
 - 0s - loss: 1170.7863
Epoch 17/100
 - 0s - loss: 1135.6131
Epoch 18/100
 - 0s - loss: 1099.2190
Epoch 19/100
 - 0s - loss: 1062.7268
Epoch 20/100
 - 0s - loss: 1026.1333
Epoch 21/100
 - 0s - loss: 989.4449
Epoch 22/100
 - 0s - loss: 952.4351
Epoch 23/100
 - 0s - loss: 915.1335
Epoch 24/100
 - 0s - loss: 879.0935
Epoch 25/100
 - 0s - loss: 842.8927
Epoch 26/100
 - 0s - loss: 806.6205
Epoch 27/100
 - 0s - loss: 771.8057
Epoch 28/100
 - 0s - loss: 737.6322
Epoch 29/100
 - 0s - loss: 704.5370
Epoch 30/100
 - 0s - loss: 672.3834
Epoch 31/100
 - 0s - loss: 641.3962
Epoch 32/100
 - 0s - loss: 611.8005
Epoch 33/100
 - 0s - loss: 583.1000
Epoch 34/100
 - 0s - loss: 555.3283
Epoch 35/100
 - 0s - loss: 529.3882
Epoch 36/100
 - 0s - loss: 504.4627
Epoch 37/100
 - 0s - loss: 480.1688
Epoch 38/100
 - 0s - loss: 457.7556
Epoch 39/100
 - 0s - loss: 436.5392
Epoch 40/100
 - 0s - loss: 416.0774
Epoch 41/100
 - 0s - loss: 397.3046
Epoch 42/100
 - 0s - loss: 379.0710
Epoch 43/100
 - 0s - loss: 362.3632
Epoch 44/100
 - 0s - loss: 346.8131
Epoch 45/100
 - 0s - loss: 331.9948
Epoch 46/100
 - 0s - loss: 318.5111
Epoch 47/100
 - 0s - loss: 305.9745
Epoch 48/100
 - 0s - loss: 294.2747
Epoch 49/100
 - 0s - loss: 283.3064
Epoch 50/100
 - 0s - loss: 273.4191
Epoch 51/100
 - 0s - loss: 264.1046
Epoch 52/100
 - 0s - loss: 255.7441
Epoch 53/100
 - 0s - loss: 247.9710
Epoch 54/100
 - 0s - loss: 240.8101
Epoch 55/100
 - 0s - loss: 234.3677
Epoch 56/100
 - 0s - loss: 228.3918
Epoch 57/100
 - 0s - loss: 222.9606
Epoch 58/100
 - 0s - loss: 218.0054
Epoch 59/100
 - 0s - loss: 213.5247
Epoch 60/100
 - 0s - loss: 209.5269
Epoch 61/100
 - 0s - loss: 205.8188
Epoch 62/100
 - 0s - loss: 202.4877
Epoch 63/100
 - 0s - loss: 199.4300
Epoch 64/100
 - 0s - loss: 196.5528
Epoch 65/100
 - 0s - loss: 194.0270
Epoch 66/100
 - 0s - loss: 191.6030
Epoch 67/100
 - 0s - loss: 189.4888
Epoch 68/100
 - 0s - loss: 187.3795
Epoch 69/100
 - 0s - loss: 185.5430
Epoch 70/100
 - 0s - loss: 183.8646
Epoch 71/100
 - 0s - loss: 182.0277
Epoch 72/100
 - 0s - loss: 180.4852
Epoch 73/100
 - 0s - loss: 178.9093
Epoch 74/100
 - 0s - loss: 177.6024
Epoch 75/100
 - 0s - loss: 176.1651
Epoch 76/100
 - 0s - loss: 174.9167
Epoch 77/100
 - 0s - loss: 173.7239
Epoch 78/100
 - 0s - loss: 172.3820
Epoch 79/100
 - 0s - loss: 171.3176
Epoch 80/100
 - 0s - loss: 170.2827
Epoch 81/100
 - 0s - loss: 169.1593
Epoch 82/100
 - 0s - loss: 168.0656
Epoch 83/100
 - 0s - loss: 167.0079
Epoch 84/100
 - 0s - loss: 166.0541
Epoch 85/100
 - 0s - loss: 165.0077
Epoch 86/100
 - 0s - loss: 164.0559
Epoch 87/100
 - 0s - loss: 163.0381
Epoch 88/100
 - 0s - loss: 162.0799
Epoch 89/100
 - 0s - loss: 161.1212
Epoch 90/100
 - 0s - loss: 160.1847
Epoch 91/100
 - 0s - loss: 159.1865
Epoch 92/100
 - 0s - loss: 158.3068
Epoch 93/100
 - 0s - loss: 157.3436
Epoch 94/100
 - 0s - loss: 156.5426
Epoch 95/100
 - 0s - loss: 155.5959
Epoch 96/100
 - 0s - loss: 154.7660
Epoch 97/100
 - 0s - loss: 153.7296
Epoch 98/100
 - 0s - loss: 152.8606
Epoch 99/100
 - 0s - loss: 151.9193
Epoch 100/100
 - 0s - loss: 151.1648

Evaluating model on testing set

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 87us/step

150.08223786091727

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

150.08224098543525 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [22]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 88.50977671107813
MSE 2: 77.0254222289644
MSE 3: 47.32430034007841
MSE 4: 42.29617113280065
MSE 5: 41.845330556233726
MSE 6: 45.35647287955176
MSE 7: 46.145334212911166
MSE 8: 36.51567624533446
MSE 9: 38.65491517693479
MSE 10: 39.05846065533586
MSE 11: 37.56736025763947
MSE 12: 33.64599998251906
MSE 13: 41.4327142277196
MSE 14: 40.84711009399019
MSE 15: 35.300914529843624
MSE 16: 31.311696037119646
MSE 17: 39.16379090343093
MSE 18: 37.31773025241099
MSE 19: 36.522074270402726
MSE 20: 34.41104197579294
MSE 21: 34.360619912255544
MSE 22: 35.40857640362095
MSE 23: 30.910354787091993
MSE 24: 33.39392151570243
MSE 25: 38.199374843955425
MSE 26: 36.46388633505812
MSE 27: 34.463403028963455
MSE 28: 33.293036346682456
MSE 29: 39.66027727096212
MSE 30: 38.0165431383744
MSE 31: 32.704380183543975
MSE 32: 33.00521466029886
MSE 33: 33.29437500296287
MSE 34: 37.18971630207543
MSE 35: 34.86461770264462
MSE 36: 42.79584058125814
MSE 37: 32.67777407130763
MSE 38: 38.45881287411193
MSE 39: 36.50972842861533
MSE 40: 31.873852640293947
MSE 41: 40.03728811023305
MSE 42: 32.45087727913965
MSE 43: 36.117764611846034
MSE 44: 39.32452282704968
MSE 45: 37.78677579268668
MSE 46: 39.184000539933976
MSE 47: 35.84839052366979
MSE 48: 38.390037882289455
MSE 49: 37.51476032294116
MSE 50: 40.31228711767104


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 39.09526587672329
Standard Deviation: 9.7229625632973