# Keras Project

Import Pandas and Numpy libraries

In [2]:
import pandas as pd
import numpy as np


We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Read dataset in Pandas Dataframe

In [5]:
concrete_data = pd.read_csv('C:/Users/ACHAL SHAH/Desktop/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Number of Data Points

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is clean to build a model

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [10]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [11]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [13]:
n_cols = predictors.shape[1] 
n_cols

8

Import Keras and required packages

In [14]:
import keras

Using TensorFlow backend.

In [15]:
from keras.models import Sequential
from keras.layers import Dense

Regression Model

In [16]:
def regression_model():
   
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Import scikit-learn in order to randomly split the data into a training and test sets

In [17]:
from sklearn.model_selection import train_test_split

Splitting 30% data for testing

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [19]:
model = regression_model()

Training model for 50 epochs

In [20]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 510705.5290
Epoch 2/50
721/721 [==============================] - 0s 44us/step - loss: 283350.6404
Epoch 3/50
721/721 [==============================] - 0s 44us/step - loss: 131852.8265
Epoch 4/50
721/721 [==============================] - 0s 44us/step - loss: 48037.4467
Epoch 5/50
721/721 [==============================] - 0s 44us/step - loss: 13725.5713
Epoch 6/50
721/721 [==============================] - 0s 44us/step - loss: 3705.4565
Epoch 7/50
721/721 [==============================] - 0s 44us/step - loss: 1907.6188
Epoch 8/50
721/721 [==============================] - 0s 44us/step - loss: 1695.7142
Epoch 9/50
721/721 [==============================] - 0s 33us/step - loss: 1648.4300
Epoch 10/50
721/721 [==============================] - 0s 44us/step - loss: 1604.0502
Epoch 11/50
721/721 [==============================] - 0s 33us/step - loss: 1566.3691
Epoch 12/50
721/721 [==============================] - 0s 33us/step - loss: 1521.0105
Epoch 13/50
721/721 [==============================] - 0s 44us/step - loss: 1479.8552
Epoch 14/50
721/721 [==============================] - 0s 44us/step - loss: 1440.3710
Epoch 15/50
721/721 [==============================] - 0s 44us/step - loss: 1403.2818
Epoch 16/50
721/721 [==============================] - 0s 44us/step - loss: 1364.2608
Epoch 17/50
721/721 [==============================] - 0s 44us/step - loss: 1329.5146
Epoch 18/50
721/721 [==============================] - 0s 44us/step - loss: 1294.5818
Epoch 19/50
721/721 [==============================] - 0s 44us/step - loss: 1262.1256
Epoch 20/50
721/721 [==============================] - 0s 33us/step - loss: 1231.2735
Epoch 21/50
721/721 [==============================] - 0s 33us/step - loss: 1201.0212
Epoch 22/50
721/721 [==============================] - 0s 55us/step - loss: 1174.0225
Epoch 23/50
721/721 [==============================] - 0s 33us/step - loss: 1148.8824
Epoch 24/50
721/721 [==============================] - 0s 55us/step - loss: 1119.0005
Epoch 25/50
721/721 [==============================] - 0s 33us/step - loss: 1094.9994
Epoch 26/50
721/721 [==============================] - 0s 44us/step - loss: 1071.5260
Epoch 27/50
721/721 [==============================] - 0s 44us/step - loss: 1050.2517
Epoch 28/50
721/721 [==============================] - 0s 33us/step - loss: 1027.0465
Epoch 29/50
721/721 [==============================] - 0s 44us/step - loss: 1007.7849
Epoch 30/50
721/721 [==============================] - 0s 44us/step - loss: 984.9383
Epoch 31/50
721/721 [==============================] - 0s 44us/step - loss: 965.1559
Epoch 32/50
721/721 [==============================] - 0s 44us/step - loss: 945.0079
Epoch 33/50
721/721 [==============================] - 0s 33us/step - loss: 926.1252
Epoch 34/50
721/721 [==============================] - 0s 44us/step - loss: 907.1544
Epoch 35/50
721/721 [==============================] - 0s 44us/step - loss: 890.4888
Epoch 36/50
721/721 [==============================] - 0s 33us/step - loss: 873.0000
Epoch 37/50
721/721 [==============================] - 0s 44us/step - loss: 855.2880
Epoch 38/50
721/721 [==============================] - 0s 44us/step - loss: 838.4037
Epoch 39/50
721/721 [==============================] - 0s 33us/step - loss: 822.5013
Epoch 40/50
721/721 [==============================] - 0s 44us/step - loss: 805.9873
Epoch 41/50
721/721 [==============================] - 0s 44us/step - loss: 792.4765
Epoch 42/50
721/721 [==============================] - 0s 44us/step - loss: 775.0951
Epoch 43/50
721/721 [==============================] - 0s 33us/step - loss: 760.2328
Epoch 44/50
721/721 [==============================] - 0s 33us/step - loss: 748.0417
Epoch 45/50
721/721 [==============================] - 0s 44us/step - loss: 730.5440
Epoch 46/50
721/721 [==============================] - 0s 33us/step - loss: 715.9949
Epoch 47/50
721/721 [==============================] - 0s 33us/step - loss: 701.1436
Epoch 48/50
721/721 [==============================] - 0s 33us/step - loss: 689.0451
Epoch 49/50
721/721 [==============================] - 0s 44us/step - loss: 673.3762
Epoch 50/50
721/721 [==============================] - 0s 44us/step - loss: 659.6183

Evaluating model on testing set

In [21]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 446us/step

685.7089691655922

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [22]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

685.7089789517654 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [23]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 228.3289146546793
MSE 2: 155.58703277489127
MSE 3: 115.90108102347858
MSE 4: 112.92072955381524
MSE 5: 110.21928435390436
MSE 6: 88.07591447552431
MSE 7: 110.99257425351436
MSE 8: 72.8814485667207
MSE 9: 49.72020035036945
MSE 10: 51.05456960239842
MSE 11: 46.16867406159929
MSE 12: 44.51513734836023
MSE 13: 69.89113003382019
MSE 14: 54.295293517868885
MSE 15: 45.22852725427128
MSE 16: 41.52227669009113
MSE 17: 41.73133501960236
MSE 18: 45.17541517486078
MSE 19: 44.32692027169138
MSE 20: 52.4738102020955
MSE 21: 43.512618672886326
MSE 22: 44.723216553722
MSE 23: 38.75396760613401
MSE 24: 43.508297744306546
MSE 25: 46.91193408410526
MSE 26: 47.83987352686021
MSE 27: 43.64569074513457
MSE 28: 39.01144995581371
MSE 29: 57.891741014992924
MSE 30: 44.15091293606557
MSE 31: 45.71631874158545
MSE 32: 36.07356549235224
MSE 33: 41.15309627002111
MSE 34: 44.07245307601386
MSE 35: 39.95850347623856
MSE 36: 50.98026315756986
MSE 37: 41.80045996051776
MSE 38: 45.33868961272502
MSE 39: 42.41462461848089
MSE 40: 36.770199359041975
MSE 41: 52.83391114268874
MSE 42: 39.99175615526712
MSE 43: 39.980060237896865
MSE 44: 46.47694383392828
MSE 45: 44.88767079473699
MSE 46: 45.212785887486724
MSE 47: 45.73290988465343
MSE 48: 43.6092318932987
MSE 49: 55.888955508235206
MSE 50: 45.65258443394139


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 58.310098581144786
Standard Deviation: 34.48055172611546